@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 6 DLR Morning Schedule


   Columns Style Sheet
   Author: 
   Date:   

   Filename:         dlr_columns2.css

*/

/* Column Styles */
@media only screen and (min-width: 641px) {
    p {
        /* 3 columns across the paragraph text */
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;

        /* 20px gap between columns */
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
        column-gap: 20px;

        /* 1px black rule between columns */
        -moz-column-rule: 1px solid black;
        -webkit-column-rule: 1px solid black;
        column-rule: 1px solid black;
    }
}


/* Column Styles */


