@charset "utf-8";

@font-face {
   font-family: 'Quicksand';
   src: url('Quicksand-Regular.woff') format('woff'),
        url('Quicksand-Regular.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, JavaScript 
   Assignment 2 HG stylesheet
   
   Author: Uriel Torres
   Date: 09142025
   
   Filename: hg_styles.css

*/
* {
  margin: 0;
  padding: 0;
  
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: indigo;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
  border-bottom: 3px solid blue;
  padding-bottom: 0.3em;
}
h2 {
  font-size: 1.8em;
  border-bottom: 2px solid indigo;
  padding-bottom: 0.2em;
}

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover, a:active {
  color: indigo;
  text-decoration: underline;
}

/* Navigation */
nav {
  background-color: indigo;
  padding: 10px 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: indigo;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Content Sections */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
}

/* Footer */
footer {
  background-color: indigo;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9em;
}
footer a {
  color: white;
}
footer a:hover {
  color: blue;
}
/* Video container on the home page */
.hg-video {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.hg-video iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 10px;
}

/* Towers and Temples image gallery */
.tower-gallery {
  margin: 20px auto;
  text-align: center;
}

.tower-gallery img {
  margin: 0 10px;
  max-width: 30%;
  height: auto;
  border: 2px solid #333;
  border-radius: 5px;
}

/* Alliance review table */
.alliance-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  font-size: 0.95em;
}

.alliance-table caption {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.alliance-table th,
.alliance-table td {
  border: 1px solid #333;
  padding: 8px 12px;
  text-align: left;
}

.alliance-table th {
  background-color: #333366;
  color: #fff;
  white-space: nowrap;
}

.alliance-table tr:nth-child(even) {
  background-color: #696699;
}
body {
  background-color: #cecbcb;
}