@charset "utf-8";

@font-face {
   font-family: 'Quicksand';
   src: url('Quicksand-Regular.woff') format('woff'),
        url('Quicksand-Regular.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, JavaScript 6th Edition
   Assignment 2 HG stylesheet
   
   Author: Uriel Torres
   Date: 09142025
   
   Filename: hg_styles.css

*/
* {
  margin: 0;
  padding: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: indigo;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
  border-bottom: 3px solid blue;
  padding-bottom: 0.3em;
}
h2 {
  font-size: 1.8em;
  border-bottom: 2px solid indigo;
  padding-bottom: 0.2em;
}

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover, a:active {
  color: indigo;
  text-decoration: underline;
}

/* Navigation */
nav {
  background-color: indigo;
  padding: 10px 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: indigo;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Content Sections */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
  background-color: white;
}

/* Footer */
footer {
  background-color: indigo;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9em;
}
footer a {
  color: white;
}
footer a:hover {
  color: blue;
}