/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 3 Pandaisia Chocolates Monthly Specials
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: 
   Date:   
   
   Filename: pc_specials.css

*/body {
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   margin: 0 auto;
   background-color: #caa579;   /* Matches screenshot background */
   font-family: "Georgia", serif;
}


/* -------------- Header Image Sizing ---------------- */

header img {
   width: 100%;
   display: block;
}


/* ---------------- Navigation Styles ---------------- */

nav.horizontal ul {
   list-style: none;
   margin: 0;
   padding: 0;
   background-color: #8c6b4f;
   overflow: hidden;
}

nav.horizontal ul li {
   float: left;
   width: 16.66%;
   text-align: center;
}

nav.horizontal ul li a {
   display: block;
   padding: 10px 0;
   font-size: 0.9em;
   color: white;
   text-decoration: none;
   font-family: "Trebuchet MS", sans-serif;
}

nav.horizontal ul li a:hover {
   background-color: #6d533d;
}


/* ----------------- Image Styles ------------------ */

img {
   display: block;
   width: 100%;
}


/* -------------------- Row Styles -------------------- */

.newRow {
   width: 100%;
   clear: both;
}

.newRow::after {
   content: "";
   display: table;
   clear: both;
}


/* ----------------- Column Styles ------------------- */

div[class^="col-"] {
   float: left;
   padding: 1.5%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.col-1-3 { width: 33.33%; }
.col-2-3 { width: 66.67%; }

/* Matches screenshot spacing */
#intro h1 {
   font-size: 2em;
   margin-bottom: 10px;
}

#intro p {
   line-height: 1.5em;
   margin-bottom: 20px;
}


/* ---------------- Specials Styles ---------------- */

.specials {
   min-height: 420px;
   outline: 1px dashed rgb(71, 52, 29);
   background-color: #f7e8d2;
   padding: 10px;
   text-align: center;
}

.specials h1 {
   font-size: 1.2em;
   color: #7a4a28;
}

.specials p {
   font-size: 0.95em;
}


/* ----------------- Award Styles ------------------- */

#awardList {
   position: relative;
   height: 650px;
   overflow: auto;
   background-color: #c78f46;   /* Gold background to match screenshot */
   padding: 15px;
   box-sizing: border-box;
}

#awardList h1 {
   text-align: center;
   font-size: 1.6em;
   margin-bottom: 20px;
}

.awards {
   position: absolute;
   width: 40%;      /* Wider to match screenshot */
   text-align: center;
}


/* Award icon positions EXACTLY per screenshot */
#award1 { top: 80px; left: 10%; }
#award2 { top: 270px; left: 52%; }
#award3 { top: 420px; left: 10%; }
#award4 { top: 600px; left: 55%; }



/* ---------------- Footer Styles ------------------- */

footer {
   clear: both;
   text-align: center;
   background-color: #8c6b4f;
   padding: 10px 0;
   margin-top: 20px;
   color: white;
   font-size: 0.9em;
}



