/*
   New Perspectives on HTML5 and CSS3
   Tutorial 4
   Review Assignment

   3D and Filter Styles for Ferris Family Pages
   Author: Uriel Torres
   Date: 11/20/2025

   Filename: tb_visual4.css
*/

/* Transformation Styles */
article {
  perspective: 800px;
  transform-style: preserve-3d; /* extra-safe */
}

#figure1 {
   transform: translateZ(-120px);
}

#figure2 {
   transform: translateY(-20px) rotateY(50deg);
}

#figure3 {
   transform: translateY(-30px) rotateY(-50deg);
}
/* Filter Styles */
#figure1 {
   -webkit-filter: saturate(1.3);
   filter: saturate(1.3);
}

#figure2 {
   -webkit-filter: brightness(0.8) contrast(1.5);
   filter: brightness(0.8) contrast(1.5);
}

#figure3 {
   -webkit-filter: hue-rotate(170deg) saturate(3) brightness(1.5);
   filter: hue-rotate(170deg) saturate(3) brightness(1.5);
}
