@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 5 Review Assignment
   
   Author:   Uriel Torres
   Date:    11/25/2025 
   
   Filename: tf_print2.css

   This file contains the printer styles used with the Trusted
   Friends Parents Tips page

*/



/* Hidden Objects */

nav, nav ul {
   display: none !important;
}

body > header h1 {
   display: none;
}

section#left {
   display: none;
}

footer {
   display: none;
}

/* Page Box Styles */

@page {
   size: 8.5in 11in;
   margin: 0.5in;
}

/* Header Styles */

header img {
   display: block;
   width: 100%;
}

/* Typography Styles */

article header {
   margin-bottom: 0.2in;
}

article h1 {
   font-size: 24pt;
   line-height: 26pt;
}

aside {
   background-color: rgb(211, 211, 211);
   margin-top: 0.3in;
   padding: 0.1in;
}

aside h1 {
   font-size: 18pt;
   line-height: 20pt;
}

aside img {
   width: 0.8in;
}

p {
   font-size: 12pt;
   margin: 0.1in 0;
}


/* Hypertext Styles */

a {
   color: black;
   text-decoration: none;
}

a::after {
   content: " (" attr(href) ")";
   font-weight: bold;
   word-wrap: break-word;
}


/* Page Break Styles */

aside {
   page-break-after: always;
}

ol, ul, img {
   page-break-inside: avoid;
}

p {
   widows: 3;
   orphans: 3;
}