@charset "utf-8";
/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 5 Review Assignment
   
   Author:   Uriel Torres
   Date:   11/25/2025  
      
   Filename: tf_styles4.css

   This file contains the screen styles used with the Trusted
   Friends blog tips

*/


/* Import Basic Design Styles Used on All Screens */

@import url("../css/tf_designs.css");



/* General Flex Styles */

/* body as row flexbox w/ wrap */
body {
   display: -webkit-flex;
   display: flex;

   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

/* left column smaller */
section#left {
   -webkit-flex: 1 8 130px;
   flex: 1 8 130px;
}

/* right column larger */
section#right {
   -webkit-flex: 8 1 351px;
   flex: 8 1 351px;
}

/* tips sections as row flexboxes w/ wrap */
section.tips {
   display: -webkit-flex;
   display: flex;

   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

/* articles bigger */
section.tips article {
   -webkit-flex: 2 1 351px;
   flex: 2 1 351px;
}

/* asides smaller */
section.tips aside {
   -webkit-flex: 1 2 250px;
   flex: 1 2 250px;
}

/* horizontal nav ul as column flexbox */
nav.horizontal ul {
   display: -webkit-flex;
   display: flex;

   -webkit-flex-flow: column wrap;
   flex-flow: column wrap;
}




/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
	
@media screen and (max-width: 480px) {

   /* vertical nav as multi-column flexbox */
   nav.vertical ul {
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;

      height: 240px;
   }

   /* move left section near bottom */
   section#left {
      -webkit-order: 99;
      order: 99;
   }

   /* footer at bottom */
   footer {
      -webkit-order: 100;
      order: 100;
   }

   /* show navicon */
   a#navicon {
      display: block;
   }

   /* hide horizontal menu by default */
   nav.horizontal ul {
      display: none;
   }

   /* show menu on hover/tap */
   a#navicon:hover + ul,
   nav.horizontal ul:hover {
      display: block;
   }
}



/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/

@media screen and (min-width: 481px) {

   nav.horizontal ul {
      height: 160px;
   }
}

